* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 300px;
  height: 300px;
}
body {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}
.form-lebel {
  font-weight: 500;
}

.login-h {
  font-size: 3rem;

  font-weight: 500;
}
.signup-H {
  color: #26034e;
}
.login-form {
  width: 400px;
  margin-top: 3rem;
  height: 100%;

  border-radius: 1rem;
  padding: 1rem;
  border: 1px solid black;
  box-decoration-break: slice;
}
.my-link {
  color: rgb(14, 13, 13);
}
.button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 0.2rem;
  border: none;
  background-color: rgb(19, 55, 153);
}
.card-detail {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background: linear-gradient(#04aa6d, white);
  color: #130808;
  padding: 2rem;

  gap: 2rem;
}
.card-detaili-image {
  background-size: cover;
  width: 300px;
  height: 350px;
  padding-top: 2rem;
  padding: 1rem;
}
.nav {
  display: flex;
  justify-content: space-between;
  background-color: #04aa6d;
}
.nav-h {
  font-style: oblique;
  font-size: 3rem;
  font-weight: 600;
  color: rgb(3, 44, 44);
}
.nav-section {
  width: 100%;
  display: flex;
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.logout {
  border: none;
  background: rgb(200, 200, 238);
  color: #442121;
  border-radius: 0.2rem;
  text-decoration: none;
}
